@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


:root{
    --acsentColor: #00df9c;
    --textColor: #1b1b1b;
    --bgColor: #f8f7ff;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    content: "ec8f";
    color: "#1b1b1b";
}
